In [16]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency,chisquare

In [ ]:
# Ho:customer order forms defective % does not varies by centre
# Ha:customer order forms defective % varies by centre

In [17]:
order = pd.read_csv("Costomer+OrderForm.csv")
order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [18]:
order.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [19]:
order.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [20]:
order.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [21]:
order.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [22]:
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [23]:
chi2_contingency(obs)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [25]:
#here p value > α i.e. 0.2771 > 0.05
#so we reject alternative hypothesis and go with null hypothesis.